.login-form{
     background-image: url("../../assets/images/login-background.jpg"); 
     height: auto;
}
.header-login{
    background-image: url("../../assets/images/header-background.png"); 
        margin-left: -10%;
    margin-right: -10%;
    padding: 1%;
    font-style: italic;
}
.main-intro{
     background-image: url("../../assets/images/Main_intro_background.jpg"); 
}
.margin-left-5{
    margin-left: 5%;
}